<%= render 'homes/errors', error_item: @shift %>
<span class="m-2">
    <%= link_to "スタッフ編集", workers_path, class:"btn btn-primary", role:"button" %>
    <%= link_to "勤務タイプ編集", patterns_path, class:"btn btn-success", role:"button" %>
</span>
<div class="table-responsive">
    <table class="table table-bordered table-sm text-center text-nowrap">
        <% case Date.current.month %>
            <% when 2 %>
                <% @month_day = [*1..28] %>
                <%= render 'list', shifts: @shifts, patterns: @patterns, month_day: @month_day %>
            <% when 4 , 6 , 9 , 11 %>
                <% @month_day = [*1..30] %>
                <%= render 'list', shifts: @shifts, patterns: @patterns, month_day: @month_day %>
            <% else %>
                <% @month_day = [*1..31] %>
                <%= render 'list', shifts: @shifts, patterns: @patterns, month_day: @month_day %>
        <% end %>
    </table>
</div>
<span class="m-2">
    <%= link_to "印刷画面へ", preview_path, class:"btn btn-secondary", role:"button" %>
    <%= link_to "全て削除", destroy_all_path, method: :delete, class:"btn btn-danger", role:"button" %>
</span>
<% if @workers.present? && @patterns.present? %>
    <div class="table-responsive">
        <h4>スタッフを追加</h4>
        <%= render 'form', shift: @shift, patterns: @patterns, workers: @workers %>
    </div>
<% end %>