<div class="row">
    <table class="table">
        <tr>
            <th>発注日</th>
            <th>品名</th>
            <th class="text-right">個数</th>
            <th class="text-right">総額</th>
            <th class="text-center">状態</th>
        </tr>
        <% orders.each do |order| %>
            <tr>
                <td>
                    <%= link_to "#{order.created_at.strftime('%Y/%m/%d')}", item_order_path(order.item_id, order.id, created_at: order.created_at) %>
                </td>
                <td>
                    <%= link_to "#{order.name}", item_order_path(order.item_id, order.id, name: order.name) %>
                </td>
                <td class="text-right"><%= order.amount %></td>
                <td class="text-right">￥<%= order.total_price.to_s(:delimited) %></td>
                <% if order.status == "in_order" %>
                    <td class="text-center">
                        <%= link_to "発注中", item_order_path(order.item_id, order.id, status: order.status) %>
                    </td>
                <% else %>
                    <td class="text-center">
                        <%= link_to "納品済み", item_order_path(order.item_id, order.id, status: order.status) %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>