<div class="container">
    <div class="row">
        <div>
            <%= link_to "戻る", items_path ,class:"btn btn-primary", role:"button" %>
        </div>
        <div class="ml-auto text-right">
            <% if @search.present? %>
                <%= form_with url: item_order_path(@orders, @search), method: :get do |f| %>
                    <h5><%= f.label :created_at, "発注月を選択して表示", class: 'control-label' %></h5>
                    <%= f.select :created_at, options_for_select(@search), class: "form-control" %>
                    <button type="submit" class="btn btn-secondary btn-sm">表示</button>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <h2>発注履歴一覧</h2>
    </div>
    <%= render 'list', orders: @orders %>
</div>
