<%= render 'homes/errors', error_item: @item %>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="form-group form-inline p-2 m-2 border">
            <%= form_with model: @item do |f| %>
                <div class="form-row d-flex justify-content-center">
                    <h4>アイテムを新規登録</h4>
                </div>
                <div class="form-row m-1">
                    <p>名前 <%= f.text_field :name, class: 'form-control' %></p>
                    <p class="ml-2">値段 <%= f.number_field :price, min: 0, class: 'form-control' %></p>
                </div>
                <div class="form-row">
                    <p>在庫数 <%= f.number_field :stock, min: 0, class: 'form-control' %> </p>
                    <p class="mx-2 form-check-inline">
                        <label class="form-check-label d-block d-md-none" for="new_product">商品</label>
                        <label class="form-check-label d-none d-md-block" for="new_product">商品(Product)</label>
                        <%= f.radio_button :status, "product", checked: true, id: "new_product", class:"form-check-input" %>
                        <label class="form-check-label d-block d-md-none" for="new_equipment">備品</label>
                        <label class="form-check-label d-none d-md-block" for="new_equipment">備品(Equipment)</label>
                        <%= f.radio_button :status, "equipment", id: "new_equipment", class:"form-check-input" %>
                    </p>
                </div>
                <div class="form-row">
                    <p>画像 <%= f.file_field :image, accept: "image/*" %></p>
                    <p><button type="submit" class="btn btn-info">新規登録</button></p>
                </div>
            <% end %>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-3">
            <div class="border rounded m-2 p-2">
                <h4 class="text-center">現在の発注一覧</h4>
                <% if Order.where(shop_id: current_shop.id).present? %>
                    <%= link_to "発注履歴", orders_path, class:"btn btn-secondary btn-block my-2" %>
                <% else %>
                    <div class="p-2 text-center">
                        <p>
                            登録したアイテム下部の<br>
                            発注欄に個数を入力し、<br>
                            「発注する」をクリック<br>
                            することで発注情報を<br>
                            保存できます。
                        </p>
                        <p>
                            発注後は納品ボタンを<br>
                            押すことで自動的に<br>
                            在庫数に加算されます。<br>
                            （発注履歴確認も可能）
                        </p>
                    </div>
                <% end %>
                <% @orders.each do |order| %>
                    <div class="border m-1 p-2">
                        <p class="d-block text-truncate" style="margin-bottom: 1px; line-height: 1px">
                            <% if Item.find_by(id: order.item_id)  %>
                                <% if order.item.status == "product" %>
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                <% else order.item.status == "equipment" %>
                                    <span><i class="fas fa-broom"></i></span>
                                <% end %>
                            <% else %>
                                <span><i class="far fa-times-circle"></i></span>
                            <% end %>
                            <%= order.name %>
                        </p>
                        <p class="text-right" style="margin-bottom: 1px">
                            ￥<%= order.total_price %>
                            <%= order.amount %>個
                        </p>
                        <p class="text-right" style="margin-bottom: 1px; line-height: 1px">
                            <% if Item.find_by(id: order.item_id) %>
                                <%= link_to "納品", item_order_path(order.item.id, order.id), method: :patch ,class:"btn btn-success btn-sm text-decoration-none", role:"button" %>
                            <% end %>
                            <%= link_to "取消", item_order_path(order.item_id, order.id), method: :delete ,class:"btn btn-danger btn-sm text-decoration-none", role:"button" %>
                        </p>
                    </div>
                <% end %>
                <div class="d-flex justify-content-center"><%= paginate @orders, :param_name => 'orders' %></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <%= form_with url: items_search_path, method: :get do |f| %>
                <div class="form-group form-inline row mx-2">
                    <label for="input_name" class="col-form-label">名前でアイテム検索</label>
                    <%= f.text_field :input_name, class: "form-control mx-2" %>
                    <button type="submit" class="btn btn-secondary my-2">検索</button>
                </div>
            <% end %>
            <%= render 'items_list', items: @items, order: @order %>
            <% if @items.empty? %>
                <div class="border m-2 p-2 text-center">
                    <p>
                        画面上部の「アイテムを新規登録」からアイテムを登録してください<br>
                        タイプ（商品か備品か）を選択することでアイテムにタグが設定されます。<br>
                        登録したアイテムのタグをクリックすることで、絞り込みが可能です。<br>
                        （画像の登録は任意です。登録するとAIが画像を解析し自動でタグを追加設定します。）<br>
                        なお、登録したアイテムはアイテム名で検索することもできます。
                    </p>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center"><%= paginate @items, :param_name => 'items' %></div>