<%= render 'homes/errors', error_item: @item %>
<div class="container">
    
    <div class="row d-flex justify-content-center">
        <div class="form-group p-2 m-2 border">
            <%= form_with model: @item do |f| %>
                <p>名前 <%= f.text_field :name %>　値段 <%= f.number_field :price, min: 0 %></p>
                <p>在庫数 <%= f.number_field :stock, min: 0 %> 商品 <%= f.radio_button :status, "product", checked: true %>備品<%= f.radio_button :status, "equipment" %>
                <button type="submit" class="btn btn-info">新規登録</button></p>
            <% end %>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <div class="border rounded m-2 p-2">
                <h4 class="text-center">現在の発注一覧</h4>
                <% if @orders.present? %>
                    <%= link_to "発注履歴", orders_path, class:"btn btn-secondary btn-block my-2" %>
                <% end %>
                <% @orders.each do |order| %>
                    <div class="border m-1 p-1">
                        <p class="d-block text-truncate" style="margin-bottom: 1px; line-height: 1px">
                            <% if Item.find_by(id: order.item_id)  %>
                                <% if order.item.status == "product" %>
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                <% else order.item.status == "equipment" %>
                                    <span><i class="fas fa-broom"></i></span>
                                <% end %>
                            <% else %>
                                <span><i class="far fa-times-circle"></i></span>
                            <% end %>
                            <%= order.name %>
                        </p>
                        <p class="text-right" style="margin-bottom: 1px">
                            ￥<%= order.total_price %>
                            <%= order.amount %>個
                        </p>
                        <p class="text-right" style="margin-bottom: 1px; line-height: 1px">
                            <% if Item.find_by(id: order.item_id) %>
                                <%= link_to "納品", item_order_path(order.item.id, order.id), method: :patch ,class:"btn btn-success btn-sm text-decoration-none", role:"button" %>
                            <% end %>
                            <%= link_to "取消", item_order_path(order.item_id, order.id), method: :delete ,class:"btn btn-danger btn-sm text-decoration-none", role:"button" %>
                        </p>
                    </div>
                <% end %>
                <div class="d-flex justify-content-center"><%= paginate @orders, :param_name => 'orders' %></div>
            </div>
        </div>
        <div class="col-9 card-deck">
            <% @items.each do |item| %>
                <div class="card form-group p-2 m-2 border" style="min-width: 12rem; max-width: 14rem;">
                    <div class="card-header text-center">
                        <%= form_with model: item do |f| %>
                            <% if item.status == "product" %> 
                                <%= link_to item_path(item.id, item: {status: "equipment"}), method: :patch ,class:"text-decoration-none" do %>
                                <i class="fas fa-shopping-cart fa-6x"></i>
                                <% end %>
                            <% else %>
                                <%= link_to item_path(item.id, item: {status: "product"}), method: :patch ,class:"text-decoration-none" do %>
                                <i class="fas fa-broom fa-6x"></i>
                                <% end %>
                            <% end %>
                    </div>
                    <div class="card-body">
                        <p>名前<%= f.text_field :name, class:"col-auto" %></p>
                        <p>値段<%= f.number_field :price, min: 0, class:"col-auto" %></p>
                        <p>在庫数<%= f.number_field :stock, min: 0, class:"col-auto" %></p>
                        <p>
                            <button type="submit" class="btn btn-success">変更</button><% end %>
                            <%= link_to "削除", item_path(item.id), method: :delete, class: "btn btn-danger", role:"button" %>
                        </p>
                        <%= form_with model: [item, @order] do |f| %>
                            <p>発注数<%= f.number_field :amount, min: 0, class:"col-auto" %></p>
                            <button type="submit" class="btn btn-info btn-block">発注する</button>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        
    </div>
</div>
<div class="d-flex justify-content-center"><%= paginate @items, :param_name => 'items' %></div>