<%= render 'homes/errors', error_item: @sale %>
<div class="container">
    <div class="row d-flex justify-content-center m-2">
        <h4>日別売上</h4>
        <%= link_to "トップに戻る", sales_path, class:"btn btn-primary mx-2" %>
        <%= link_to "該当月に戻る", sale_path(@sales.first.id, created_at: @sales.first.created_at), method: :get, class:"btn btn-secondary mx-2" %>
    </div>
    <div class="row d-flex justify-content-center">
        <% previous_proceed = 0 %>
        <% day = 0 %>
        <% @sales.sort{|x, y| x[:created_at] <=> y[:created_at] }.each do |sale| %>
            <%= form_with model: sale do |f| %>
            <div class="form-group border rounded m-2 p-2">
                <h5 class="text-center"><%= sale.created_at.day %>日</h5>
                <p class="justify-content-end"><%= f.number_field :proceed, class:"form-control" %></p>
                <button type="submit" class="btn btn-success">変更</button>
                <%= link_to "削除", sale_path(sale.id), method: :delete, class: "btn btn-danger" %>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
