<%= render 'homes/errors', error_item: @sale %>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="m-2">
                <% if @search.present? %>
                    <%= form_with url: sale_path(@search), method: :get do |f| %>
                        <h4><%= f.label :created_at, "月を選択して売上表示", class: 'control-label' %></h4>
                        <%= f.select :created_at, options_for_select(@search), class: "form-control" %>
                        <button type="submit" class="btn btn-secondary btn-sm">表示</button>
                    <% end %>
                <% end %>
            </div>
            <div>
                <span class="badge badge-info">年間売上</span>
                <%= line_chart @year_proceed.pluck(:created_at, :proceed), curve: false %>
            </div>
            <%= render 'month_sales', sales: @sales, previous_proceed: @previous_proceed %>
            <div class="form-group m-4 p-4 border form-inline d-flex justify-content-center">
                <%= form_with model: @sale do |f| %>
                    <h4 class="text-center">売上を新規登録</h4>
                    <p>登録日<%= f.date_field :created_at, class: 'form-control' %></p>
                    <p>金額 <%= f.number_field :proceed, class:"form-control" %></p>
                    <button type="submit" class="btn btn-info btn-block">登録</button>
                <% end %>
            </div>
        </div>
        <div class="col-4">
            <table class="table table-bordered m-4">
                <% if @sales.present? %>
                    <tr>
                        <th colspan="3"><%= link_to "編集", edit_sale_path(@sales.first.id),class:"btn btn-success btn-block" %></th>
                    </tr>
                <% end %>
                <%= render 'day_sales', sales: @sales %>
            </table>
        </div>
    </div>
</div>
